.card{
    padding: 1.7rem;
    border-radius: 0.5rem;
    background: var(--bg-color);
}

.card-header{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-bottom: 1rem;
}

.card-header .square{
    width: 1.9rem;
    height: 1.9rem;
    background: #b44141;
    border-radius: 0.2rem;
}

.card-header .circle{
    width: 1.9rem;
    height: 1.9rem;
    background: var(--secondary-color);
    border-radius: 50%;
}

.card-header .triangle{
    width: 1.9rem;
    height: 1.9rem;
    background: var(--secondary-color);
    border-radius: 2rem 0 2rem 0;
}

.card-header .other{
    width: 1.9rem;
    height: 1.9rem;
    background: orange;
    border-radius: 2rem 0 0 0;
}

.card-header h2{
    color: var(--text-color);
    font-size: 1.2rem;
}

.card-body{
    margin-bottom: 0.55rem;
    font-size: 0.6rem;
}

.card-body p{
    color: var(--text-color-secondary);
    line-height: 1.5;
    font-size: 1rem;
}

.card-footer
{
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin-top: 1.5rem;
}