.dashboard-content{
    height: calc(100vh - 56px);
    overflow-y: scroll;

}

.dashboard-content h1{
    color: var(--text-color);
    padding: 1.7rem 1.9rem;
}

.cards-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 0 1.9rem;
}

.card{
    padding: 1.7rem;
    border-radius: 0.5rem;
    background: var(--bg-color);
}

.card-header{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-bottom: 1rem;
}

.card-header .square{
    width: 1.9rem;
    height: 1.9rem;
    background: var(--primary-color);
    border-radius: 0.2rem;
}

.card-header .circle{
    width: 1.9rem;
    height: 1.9rem;
    background: orange;
    border-radius: 50%;
}

.card-header .triangle{
    width: 1.9rem;
    height: 1.9rem;
    background: green;
    border-radius: 2rem 0 2rem 0;
}

.card-header .other{
    width: 1.9rem;
    height: 1.9rem;
    background: var(--primary-color);
    border-radius: 2rem 0 0 0;
}

.card-header h2{
    color: var(--text-color);
    font-size: 1.2rem;
}

.card-body{
    margin-bottom: 0.55rem;
    font-size: 0.6rem;
}

.card-body p{
    color: var(--text-color-secondary);
    line-height: 1.5;
    font-size: 1rem;
}

.card-footer
{
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin-top: 1.5rem;
}

.card-footer span{
    padding: 0.3rem 0.5rem;
    background: var(--primary-color);
    color: var(--text-color);
    border-radius: 0.2rem;
    font-size: 0.8rem;
    font-weight: 500;
    cursor: pointer;
}

.card-footer span:hover{
    background: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

