nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--primary-color);
    padding: 0.5rem 2rem;
}

nav span{
    color: var(--text-color);
    font-size: 1.2rem;
    line-height: 1.5;
}

nav .logo{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    
}

nav .logo span{
    color: var(--text-color);
}

nav .logo svg{
    fill: var(--text-color);
}