nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--primary-color);
    padding: 0.5rem 2rem;
}

nav span{
    color: var(--text-color);
    font-size: 1.2rem;
    line-height: 1.5;
}

nav button{
    padding: 0.5rem 1rem;
    background: var(--secondary-color);
    color: var(--text-color);
    border-radius: 0.2rem;
    border: none;
    margin-right: 0.5rem;
    font-size: 1rem;
    transition: 0.3s all ease-out;
}

nav button:hover{
    background: var(--bg-color);
    
}

