aside{
    background: var(--bg-color);
    padding: 2.5rem 1.5rem;
    width: 20%;
    height: calc(100vh - 56px);
}

aside p{
  color: var(--text-color);
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

aside hr{
    margin-bottom: 1.5rem;
}

aside ul li{
    margin-bottom: 0.6rem;
    
}

aside ul li a{
    display: flex;
    align-items: center;
    gap: 0.4rem;
    cursor: pointer;
    border-radius: 0.3rem;
    padding: 0.3rem 0.3rem;   
}

aside ul li span{
    color: var(--text-color);
}

aside .link-text{
      font-size: 1rem; 
}

aside .active, aside a:hover{
    background: var(--primary-color);
}