@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,300&family=Roboto:wght@700&display=swap');
:root{
  --text-color: #fffffe;
  --primary-color: #7f5af0;
  --secondary-color: #2cb67d; 
  --bg-color: #16161a;
  --bg-color-secondary: #242629;
  --text-color-secondary: #94a1b2;

  --secondary-font: 'Roboto', sans-serif;
  --primary-font: 'Roboto Serif', serif;

}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}



/* CSS files */
@import './styles/Navbar.css';
@import './styles/Sidebar.css';
@import './styles/Dashboard.css';
@import './styles/DashboardContent.css';
@import './styles/ProductCard.css';
@import './styles/Card.css';
@import './styles/Logo.css';
@import './styles/Login.css';
@import './styles/UserProfile.css';











