:root{
  --text-color: #fffffe;
  --primary-color: #7f5af0; 
  --bg-color: #16161a;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

/* CSS files */
@import './styles/Navbar.css';
@import './styles/Sidebar.css';











